@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
  font-family: 'SF Pro Display', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 45px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
}

header ul {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--greyLight);
}

header ul li {
  cursor: pointer;
  list-style: none;
}

header ul li:hover {
  color: #fff;
}

header ul li img {
  width: 18px;
  height: 18px;
}
.header a {
  text-decoration: none;
  color: #fff;
  line-height: normal;
  font-size: 14px;
}

/* ------------------------------------------------------------------------------------------------------------ */

.introduce {
  background: transparent;
  display: flex;
  height: 360px;
  max-width: 100%;
  font-size: 43px;
  align-items: center;
  margin-left: 140px;
}
.introduce .header-tittle span.red-text {
  color: rgba(227, 0, 0, 255);
}
.introduce .header-tittle {
  color: rgba(110, 110, 115, 255);
}

.tutor {
  display: flex;
  font-size: 15px;
  margin: auto 200px auto auto;
}
.tutor img {
  height: 35px;
  width: 35px;
}
.tutor a {
  text-decoration: none;
  color: rgba(37, 142, 240, 255);
}
/* ------------------------------------------------------------------------------------------------------------ */

.newest {
  background: transparent;
  display: flex;
  height: fit-content;
  max-width: 100%;
  font-size: 33px;
  /* align-items: center; */
  margin-left: 140px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.newest .little-header span.little-red-text {
  color: rgba(227, 0, 0, 255);
  font-weight: 500;
}
.newest .little-header {
  color: rgba(110, 110, 115, 255);
  font-weight: 500;
}

/* ------------------------------------------------------------------------------------------------------------ */

.product-slider {
  padding: 10px;
  /* margin-left: 140px; */
}

.product-box {
  display: flex;
  flex-direction: column;
  width: 479px;
  height: 499px;
  text-decoration: none;
  background: white;
  border-radius: 20px;
  margin: 0px;
  padding: 25px 30px 25px 40px;
  box-sizing: border-box;
  box-shadow: 12px 2px 8px rgba(0, 0, 0, 0.03);
  overflow: hidden;
  transition: all ease 0.3s;
}

.product-box1 {
  display: flex;
  flex-direction: column;
  width: 316px;
  height: 460px;
  text-decoration: none;
  background: white;
  border-radius: 20px;
  margin: 0px;
  padding: 25px 30px 25px 30px;
  box-sizing: border-box;
  box-shadow: 12px 2px 8px rgba(0, 0, 0, 0.03);
  overflow: hidden;
  transition: all ease 0.3s;
}

.product-box2 {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  text-decoration: none;
  background: white;
  border-radius: 20px;
  margin: 0px;
  padding: 25px 30px 25px 30px;
  box-sizing: border-box;
  box-shadow: 12px 2px 8px rgba(0, 0, 0, 0.03);
  overflow: hidden;
  transition: all ease 0.3s;
}

.product-box3 {
  display: flex;
  flex-direction: column;
  width: 482px;
  height: 460px;
  text-decoration: none;
  background: white;
  border-radius: 20px;
  margin: 0px;
  padding: 25px 30px 25px 30px;
  box-sizing: border-box;
  box-shadow: 12px 2px 8px rgba(0, 0, 0, 0.03);
  overflow: hidden;
  transition: all ease 0.3s;
}

.product-box1:hover {
  box-shadow: 12px 3px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.008);
  transition: all ease 0.3s;
}

.product-box2:hover {
  box-shadow: 12px 3px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.008);
  transition: all ease 0.3s;
}

.product-box3:hover {
  box-shadow: 12px 3px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.008);
  transition: all ease 0.3s;
}

.item-a {
  margin-left: 140px;
}
.item-a + .item-a {
  margin-left: 5px;
}
.product-box:hover {
  box-shadow: 12px 3px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.008);
  transition: all ease 0.3s;
}
.newest-tittle {
  color: rgba(110, 110, 115, 255);
  margin-bottom: 13px;
}
.newest-tittle-light {
  color: #ffffff;
  margin-bottom: 13px;
}
.product-tittle h3 {
  font-size: 34px;
  margin-bottom: 13px;
}
.product-tittle a {
  text-decoration: none;
  color: black;
}
.details-tittle {
  font-size: 18px;
}

.product-box img {
  display: flex;
  width: 100%;
  /* height: fit-content; */
}

.product-box1 img {
  display: flex;
  width: 100%;
  /* height: fit-content; */
}
.lSPager {
  display: none;
}
.lSAction > a {
  background: gray;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-box1 .lSAction > a {
  margin-top: 200px;
}

.product-tittle1 h3 {
  font-size: 28px;
  margin-bottom: 30px;
}
.product-tittle1 a {
  text-decoration: none;
  color: black;
}
.product-tittle-light h3 {
  font-size: 34px;
  margin-bottom: 30px;
  color: #ffffff;
}
.product-tittle-light a {
  text-decoration: none;
  color: #ffffff;
}
.product-box1 a {
  text-decoration: none;
}
.custom-header {
  font-size: 14px;
  color: rgba(191, 71, 0, 255);
  margin-bottom: 13px;
  margin-top: 13px;
}
.product-box1 h2 {
  font-size: 20px;
  color: black;
  margin-bottom: 13px;
}
.product-box2 h3 {
  font-size: 27px;
  color: black;
  margin-bottom: 13px;
}
.product-box2 p {
  font-size: 18px;
  color: #000000;
  margin-bottom: 13px;
}
.product-box2 sup {
  font-size: 12px;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0;
}

.price p {
  font-size: 15px;
}
.price .buy-btn {
  color: white;
  background-color: #0071e3;
  text-decoration: none;
  width: 55px;
  height: 25px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.cartTab {
  width: 400px;
  background-color: #eee;
  color: black;
  position: fixed;
  margin-top: 50px;
  margin-bottom: 0px;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.5s ease;
}
body .showCart .cartTab {
  inset: 0 0 0 auto;
}
body .showCart .container {
  transform: translateX(-250px);
}
.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button {
  background-color: #0071e3;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  color: white;
}
.cartTab .btn .close {
  background-color: white;
  color: black;
}
.cartTab .listCart .item img {
  width: 100%;
}
.cartTab .listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.listCart .quantity span {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: rgba(110, 110, 115, 255);
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: black;
}
.listCart .item:nth-child(even) {
  background-color: gray;
}
.listCart {
  overflow: auto;
}
.listCart::-webkit-scrollbar {
  width: 0;
}


footer {
  position: absolute;
  background: rgba(245, 245, 247, 255);
  width: 100%;
  margin-top: auto;
}
footer::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: transparent;
  left: 0;
  top: 100px;
}
footer .contents {
  width: 1100px;
  margin: auto;
  padding: 30px 40px 10px 40px;
}
footer .contents .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.contents .top .logoPL img {
  width: 70px;
  height: fit-content;
}
.contents .top .media {
  display: flex;
}
.contents .top .media a {
  width: 40px;
  height: 40px;
  /* background: white; */
  margin: 0 8px;
  border-radius: 100%;
  text-align: center;
  line-height: 45px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.top .media a:nth-child(1) {
  background: rgba(24, 120, 243, 255);
}
.top .media a:nth-child(1):hover {
  color: rgba(24, 120, 243, 255);
  background: white;
}
.top .media a:nth-child(2) {
  background: rgba(220, 78, 66, 255);
}
.top .media a:nth-child(2):hover {
  color: rgba(220, 78, 66, 255);
  background: white;
}
.top .media a:nth-child(3) {
  background: rgba(0, 123, 182, 255);
}
.top .media a:nth-child(3):hover {
  color: rgba(0, 123, 182, 255);
  background: white;
}
.top .media a:nth-child(4) {
  background: rgba(41, 160, 218, 255);
}
.top .media a:nth-child(4):hover {
  color: rgba(41, 160, 218, 255);
  background: white;
}
footer .contents .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .contents .link-boxes .box {
  background: transparent;
  width: calc(100% / 5 - 10px);
}
.notes ul {
  font-size: 13px;
  list-style: none;
  color: rgba(110, 110, 115, 255);
  margin-bottom: 40px;
}
.notes ul li {
  margin: 15px 0;
  letter-spacing: 0.1px;
}
.contents .link-boxes .box li {
  list-style: none;
  font-size: 13px;
  margin-bottom: 5px;
  margin: 6px 0;
}
.contents .link-boxes .box li a {
  text-decoration: none;
  color: rgba(66, 66, 69, 255);
  font-size: 13px;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.contents .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}
.contents .link-boxes .box .links_name {
  font-size: 14px;
  color: black;
  font-weight: 400;
  margin-bottom: 8px;
  position: relative;
}
.contents .link-boxes .box .links_name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 80%;
  background: white;
}
footer .middle-details {
  width: 100%;
  background: rgba(245, 245, 247, 255);
}
footer .middle-details .middle-Text .shopping {
  max-width: 1100px;
  margin: auto;
  padding: 15px 40px;
  display: flex;
  font-size: 14px;
  color: rgba(110, 110, 115, 255);
}
footer .middle-details .middle-Text .shopping p {
  margin-bottom: 5px;
}
footer .middle-details .middle-Text .copyright {
  max-width: 1100px;
  margin: auto;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: rgba(110, 110, 115, 255);
}

footer .bct {
  width: 120px;
  height: fit-content;
}
footer .middle-details .middle-Text .policy {
  max-width: 1100px;
  margin: auto;
  padding: 2px 40px;
  display: flex;
  font-size: 14px;
}
footer .middle-details .middle-Text .policy a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}
footer .middle-details .middle-Text .property {
  max-width: 1100px;
  margin: auto;
  padding: 10px 36px;
  display: flex;
  font-size: 13px;
  color: rgba(110, 110, 115, 255);
}
footer .middle-details .middle-Text .property .image-container img {
  width: 130px;
  height: fit-content;
  margin-right: 10px;
}
footer .middle-details .middle-Text .property .text-container {
  flex-grow: 1;
}
footer .middle-details .middle-Text .property p {
  margin: 3px;
}
